# Prerequisites
*.d

# Compiled Object files
#*.o
#*.obj

# Precompiled Headers
#*.gch
#*.pch

# Executables
#*.hex
#*.elf

# Build directory - Exclude these to exclude all obj, hex, etc...
demos/*_ert*
demos/slprj
demos/*.slxc
demos/*slx.original
demos/*.slx.autosave

# Library examples
teensy/**/libraries/**/examples
teensy/**/libraries/**/extras
teensy/**/libraries/**/doc

# Tmp files
*tmp.txt

# ASV files
*.asv